@import "./global.css";

body{
    background: #000923;
    background: linear-gradient(180deg, rgba(0, 9, 35, 1) 60%, rgba(0, 0, 0, 1) 100%); /*para colocar gradiente*/
    color: var(--branco);
        .inicio{
            background: url("/assets/cont-imagens/oceano-img/bg-oceano.svg") no-repeat;
            background-size: cover;
        }    
}





:root{
    --azul-highlight: #A2CFF8;
    --azul-claro: #1091FA;
    --azul-medio: #22669F;
    --azul-escuro: #003366;
    --azul-quase-preto: #000923;
    --branco: #FFFDFA;
    --preto: #000 ;
}



.pt1-home{

    justify-content: center;
    align-items: center;
    padding-top: 50;

}

button {

    gap: 15rem; /*espaços entre os botões*/
    justify-content: center; /*centralizar na horizontal*/
    margin-top: 50px; /*espaço em cima*/
    color: var(--branco);
    background-color: #0009236e;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column; /*procurar sobre*/
    justify-content: center; /*procurar sobre*/
    align-items: center;
    padding-top: 50;
    width: 10rem;
    height: 10rem;
    
    
}  
