
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quando", sans-serif;
}

:root{
    --azul-highlight: #A2CFF8;
    --azul-claro: #1091FA;
    --azul-medio: #22669F;
    --azul-escuro: #003366;
    --azul-quase-preto: #000923;
    --branco: #FFFDFA;
    --preto: #000 ;
}

h1{
    font-size: 6rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.25rem;
    font-family: "Poppins", serif;
    font-weight: bold;
}
p{
    font-size: 1rem;
    font-family: "Poppins", serif;
}

header{
    border-bottom: 1px solid var(--preto);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    height: 4.938rem;
    display: flex;
    align-items: center;
    padding-left: 2.375rem;

    nav{
        display: flex;
        align-items: center;
        
        a{
            text-decoration: none;
            color: var(--branco);
            font-size: 1.25rem;
            font-family: "Poppins", serif;
            font-weight: bold;
            padding: 2.375rem;
            img{
                width: 4.188rem;
                height: 4rem;
            }
        }
        a:hover,
        a:focus{
            transition-duration: 0.3s;
            color: var(--azul-claro);
            text-decoration: underline;
        }
    }
}