@import "/css/global.css";


:root {
  --azul-claro: #A2CFF8;
  --preto-roxo: #000026;
  --meio-preto: #000923;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      background-image: url('./assets/FundoDasONG\'s.svg');
      background-repeat: no-repeat; 
      background-size: cover;    
  }

body {
      font-family: "Poppins", serif;
      background: url('fundo-oceano.jpg') no-repeat center center fixed;
      background-size: cover;
      color: #fff;
}



h1 { 
     text-align: center;
     font-size: 2.5rem;
     margin-top: 40px;
}

h2 {
      text-align: center;
      font-size: 1.2rem;
      color: #add8e6; 
      margin-bottom: 30px;
}

p {  
      flex: 1;
        color: #eee;
          font-size: 1rem;
  }
  

/* Container das ONGs */
.Oceana, .Euapoio, .Greenpeace, .WWF {
      background-color: rgba(255, 255, 255, 0.1);
      margin: 20px auto;
      width: 80%; 
      border-radius: 15px;
      padding: 20px; 
      display: flex;
      align-items: center;
      gap: 20px; 
      box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.Oceana img, .Euapoio img, .Greenpeace img, .WWF img {
      width: 100px;
}


button{

.degrade { 
     background: linear-gradient(to right, #000428, #004e92); 
      color: white;  border: none;  padding: 12px 20px; 
       border-radius: 10px;  cursor: pointer; 
        font-size: 1rem;  transition: 0.3s;
}

.degrade:hover {
      background: linear-gradient(to right, #004e92, #000428);
}

.degrade:a { 
     color: #A2CFF8; 
      text-decoration: none;
}
}