@import "/css/global.css";


:root {
  --azul-claro: #A2CFF8;
  --preto-roxo: #000026;
  --meio-preto: #000923;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}


.body {
      background-image: url('./assets/FundoDasONGs.svg');
      background-repeat: no-repeat; 
      background-size: cover;    


body:fundo {
      font-family: "Poppins", serif;
      font-size: 16px;
      line-height: 1.6;
}

border:branco{

      margin: 0;
      padding: 20px;
      min-height: 100vh;
      display: flex;
      flex-direction: column;

}

}

/*Tilulo*/
.h1 { 
     text-align: center;
     font-size: 2.5rem;
     margin-top: 40px;
     color: #fff;
}

/*2-titulo*/
.h2 {
      text-align: center;
      font-size: 1.2rem;
      color: #eee; 
      margin-bottom: 30px;
}

/*Paragrafo*/
.p {  
      flex: 1;
      color: #eee;
       font-size: 1rem;
  }

/*Contanes*/
.Oceana, .Euapoio, .Greenpeace, .WWF {
      background-color: rgba(255, 255, 255, 0.1);
      margin: 20px auto;
      width: 80%; 
      border-radius: 15px;
      padding: 20px; 
      display: flex;
      align-items: center;
      gap: 20px; 
      box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/*imagens*/
.Oceana ong-1.svg, .Euapoio img, .Greenpeace img, .Wwf img {
      width: 100px;
}



