@import "global.css";

:root{
    --azul-claro: #1091FA;
    --azul-medio: #22669F;
    --azul-escuro: #003366;
    --azul-quase-preto: #000923;
    --branco: #FFFDFA;
}

body{
    background: #000923;
    background: linear-gradient(180deg, rgba(0, 9, 35, 1) 60%, rgba(0, 0, 0, 1) 100%);
    color: var(--branco);
}

a{
    text-decoration: none;
    color: var(--branco);
}