@import "/css/global.css";

body{
    background: linear-gradient(180deg, #000923 75.48%, #000000 96%);
    color: var(--branco);
    .inicio{
        background: url("/assets/modelo 3d/baleia/bg-baleia.svg") no-repeat;
        background-size: cover;
        .capa{
            height: 100vh;
            margin: 9.813rem 0 0 4.5rem;
        }
    }
    #blur{
        box-shadow: 0 25rem 6.25rem 34.375rem #000923;

    }
}