@import "/css/global.css";

body{
    background: linear-gradient(180deg, #000923 75.48%, #000000 96%);
    color: var(--branco);
    .inicio{
        background: url("/assets/modelo 3d/palhaco/bg-palhaco.svg") no-repeat;
        background-size: cover;
        .capa{
            height: 100vh;
            margin: 9.813rem 0 0 4.5rem;
            .seta-prox{
                position: absolute;
                right: 0;
                margin: 6.813rem 1.563rem 0 0;
                animation: bounceXRight 2s infinite;
            }
            .seta-antes{
                position: absolute;
                left: 0;
                margin: 6.813rem 0 0 1.563rem;
                animation: bounceXLeft 2s infinite;
            }
        }
    }
    #blur{
        box-shadow: 0 25rem 6.25rem 34.375rem #000923;
    }
}

@keyframes bounceXRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1.875rem);
  }
}

@keyframes bounceXLeft {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1.875rem);
  }
}

.intro{
    margin-bottom: 20rem;
    img{
        width: 45rem;
        height: 28.5rem;
    }
    .comeco{
        display: flex;
        margin-left: 3.125rem;
        justify-content: space-between;
        div{
            width: 32.25rem;
            h2{
                margin-bottom: 2.5rem;
            }
        }
        img{
            width: 45rem;
            height: 43.063rem;
        }
    }
}

.nasc{
    text-align: center;
    img{
        margin: 1.875rem 0 0;
        width: 100vw;
    }
    #blur-nasc{
        box-shadow: 0 1rem 10rem 16rem #000923;
        margin-bottom: 6.75rem;
        position: relative;
    }
    .passos{
        display: flex;
        gap: 5.625rem;
        margin-inline: 5.5rem;
        margin-bottom: 14.063rem;
        position: relative;
        h2{
            margin-bottom: 3.375rem;
        }
    }
}

.tipos{
    text-align: center;
    .imagens{
        margin: 2.313rem 0 12.313rem;
        justify-content: center;
        display: flex;
        gap: 11.25rem;
    }
}

.biologia{
    display: flex;
    gap: 3rem;
    margin-inline: 3.688rem;
    justify-content: center;
    align-items: center;
    div{
        max-width: 33.625rem;
        text-align: center;
        h2{
            margin-bottom: 2.313rem;
            text-align: center;
        }
    }
}


.seta{
    display: flex;
    justify-content: center;
}

.seta img{
    margin: 5.625rem 0 5rem;
    margin-inline: 0;
    filter: drop-shadow(0 0 0.313rem var(--branco));
    animation: bounceY 2s infinite;
}

.seta img:hover {
    cursor: pointer;
    filter: brightness(1.2);
    filter: drop-shadow(0 0 0.625rem var(--branco));
}


@keyframes bounceY {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.875rem);
  }
}