@import "/css/global.css";


body{
    background: #000923;
    background: linear-gradient(180deg, rgba(0, 9, 35, 1) 60%, rgba(0, 0, 0, 1) 100%); /*para colocar gradiente*/
    color: var(--branco);
        .home-peixepaci{
            background: url("/assets/modelo\ 3d/palhaco/peixe-bg.svg") no-repeat;
            background-size: cover;
            height: 110vh;
        }    
}


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.biologia-peixe-texto {

    flex: 1;
    padding-left: 2rem;


}

.biologia-peixe-texto h2 {

    font-size: 2.5rem; /*tamnho do textinho*/
    margin-bottom: 2rem;/*espaço da margim*/

}

.biologia-peixe-texto p{

    font-size: 1rem; /*tamanho da texto(fonte) sei la*/
    line-height:1.6rem; /*e a altura da linha */
    align-items: justify;

}